:root {
  --bs-body-font-faily: 'Futurabookc'
}


body {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Futurabookc' !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  

}
@font-face {
  font-family: 'Futurabookc';
  src: url(/src/font/futurabookc.ttf);
}
::-webkit-scrollbar {
  display: none;
}